@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0; list-style-type:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;clear:both;}
html{font-family:"Microsoft YaHei","Helvetica Neue","Helvetica","Roboto","STHeiTi","Arial","sans-serif";-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:62.5%;line-height:1.5;}
body{font-size:13px;overflow-x:hidden;min-width:320px;color:#666;background:#f3f3f3;}
a{text-decoration:none;color:#666;}a:active{color:#ff5c67;outline:0;}

@font-face{
	font-family:"mdjWap";
	src:url("fonts/mdjWap.eot?to6ecd");
	src:url("fonts/mdjWap.eot?to6ecd#iefix") format("embedded-opentype"),url("fonts/mdjWap.ttf?to6ecd") format("truetype"),url("fonts/mdjWap.woff?to6ecd") format("woff"),url("fonts/mdjWap.svg?to6ecd#mdjWap") format("svg");
	font-weight:normal;font-style:normal;}
	
[class^="icon-"],[class*=" icon-"]{
	font-family:'mdjWap' !important;
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;text-transform:none;line-height:1;
	-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

.icon-lnk:before{content:"\e900";}
.icon-edit:before{content:"\e901";}
.icon-deposit:before{content:"\e902";}
.icon-store:before{content:"\e903";}
.icon-store-f:before{content:"\e904";}
.icon-address:before{content:"\e905";}
.icon-tel:before{content:"\e906";}
.icon-del:before{content:"\e907";}
.icon-coupon:before{content:"\e908";}
.icon-trolley:before{content:"\e909";}
.icon-package:before{content:"\e90a";}
.icon-add-adr:before{content:"\e90b";}
.icon-recommend:before{content:"\e90c";}
.icon-location:before{content:"\e90d";}
.icon-service-num:before{content:"\e90e";}
.icon-user:before{content:"\e90f";}
.icon-beautician:before{content:"\e910";}
.icon-radio:before{content:"\e911";}
.icon-radio-f:before{content:"\e912";}
.icon-check:before{content:"\e913";}
.icon-check-f:before{content:"\e914";}
.icon-duration:before{content:"\e915";}
.icon-service-time:before{content:"\e916";}
.icon-add-item:before{content:"\e917";}
.icon-minus-item:before{content:"\e918";}
.icon-left:before{content:"\e919";}
.icon-right:before{content:"\e91a";}
.icon-up:before{content:"\e91b";}
.icon-down:before{content:"\e91c";}
.icon-left-arrow:before{content:"\e91d";}
.icon-right-arrow:before{content:"\e91e";}
.icon-favor:before{content:"\e91f";}
.icon-order:before{content:"\e920";}
.icon-store_b:before{content:"\e921";}
.icon-store_b_f2:before{content:"\e922";}
.icon-home_b:before{content:"\e923";}
.icon-home_b_f:before{content:"\e924";}
.icon-order_other:before{content:"\e925";}
.icon-order-f:before{content:"\e926";}
.icon-order_mdj:before{content:"\e927";}
.icon-shut2:before{content:"\e928";}
.icon-exchange:before{content:"\e929";}
.icon-personal:before{content:"\e92a";}
.icon-personal-f:before{content:"\e92b";}
.icon-shut:before{content:"\e92c";}
.icon-favor2:before{content:"\e92d";}
.icon-lock:before{content:"\e92e";}
.icon-logo:before{content:"\e92f";}
.icon-mdj:before{content:"\e930";}
.icon-del2:before{content:"\e931";}
.icon-set:before{content:"\e932";}
.icon-logo-w:before{content:"\e933";}
.icon-quote-l:before{content:"\e934";}
.icon-quote-r:before{content:"\e935";}
.icon-search:before{content:"\e936";}
.icon-package2:before{content:"\e937";}
.icon-coupon2:before{content:"\e938";}
.icon-store_b_f:before{content:"\e939";}
.icon-invite:before{content:"\e93a";}
.icon-feedback:before{content:"\e93b";}
.icon-agreement:before{content:"\e93c";}
.icon-sale:before{content:"\e93d";}
.icon-vol:before{content:"\e93e";}
.icon-heart-f:before{content:"\e93f";}
.icon-lnk-f:before{content:"\e940";}
.icon-pic-add:before{content:"\e941";}
.icon-heart:before{content:"\e942";}
.icon-profile:before{content:"\e943";}
.icon-wenxiu:before{content:"\e944";}
.icon-mdj_logo_f:before{content:"\e945";}
.icon-mdj_logo:before{content:"\e946";}
.icon-groupon:before{content:"\e947";}
.icon-limit:before{content:"\e948";}
.icon-room:before{content:"\e949";}



.shopImg{ width:100%; display:block; max-width:75rem; background:#fff;}
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#fff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}

.shopImg .swiper-container {width: 100%; height:168px; overflow:hidden; margin:0;}
.shopImg .swiper-wrapper{width: 100%; position:static; height:auto; margin:0;}
.shopImg .swiper-slide{ width:100%; display:block; padding:0; margin:0;height:auto;}
.shopImg .swiper-slide img{width:100%; display:block;}


.meiheader{width:100%; background:#fff; height:44px; display:block; position:fixed; left:0; top:0; right:0; z-index:999;  border-bottom:1px solid #f3f3f3}
.meiboxcon{ position:absolute; left:0; top:0; width:100%; height:44px; display:block;overflow:hidden;}
.meiheader span{ float:left; width:15%; height:44px; text-align:center; display:block;}
.meiheader span em{ font-size:14px; font-style:normal; display:inline-block; margin-right:4px;}
.meiheader bdo{ float:right; width:15%; height:44px; text-align:center;}
.meiheader h2{ text-align:center; width:70%; line-height:44px; color:#333; font-size: 1.3em; float:left; font-family:Arial, Helvetica, sans-serif; font-weight:normal;font-family:"\5FAE\8F6F\96C5\9ED1";}
.meiheader a span{
    display: block;
    height: 44px;
    line-height: 44px;
    font-size: 1.6em;
    color: #535353;
    text-align: center;
	margin:0 auto;
}
.meiheader a span.icon-txt{ font-size:14px; color:#666;}

.lnks {
	position: fixed;
    right: 10px;
    top: 52px;
    padding: 0 9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 999999;
    background: rgba(83,83,83,0.94);
	display:none;
}
.lnks::after {
    content: "";
    width: 10px;
    height: 10px;
    background: rgba(83,83,83,0.94);
    position: absolute;
    right: 8px;
    top: -5px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.lnks li {
    width: 90px;
    height: 44px;
    line-height: 44px;
    font-size: 1em;
    border-bottom: 1px solid #757474;
	font-weight:normal;
	color:#fff;
}
.lnks li a{ color:#fff;}
.lnks li a span{ color:#fff; font-size:1em; margin-right:5px;}

.toolbar{ width:100%; background:rgba(247,247,247,0.7); height:49px; display:block; overflow:hidden; position:fixed; left:0; right:0; bottom:0; z-index:9990; border-top:1px solid #ededed; max-width:75rem; margin:0 auto;}

.meiWapper{ width:100%; padding-top:44px; display:block; overflow:hidden; z-index:0;}
.meiActive{ background:#ff5c67; line-height:30px; height:30px; font-size:12px; color:#fff; text-align:center; display:block;}

.acc-upload-box{ padding:10px; display:block; margin-bottom:10px; background:#fff;}
.upload_btn {background:url(../image/jia.png) center 0 no-repeat; background-size:70px; position:relative;width:70px;height:70px; display:block; float:left;}
.upload_btn input { opacity:0;position: absolute;left: 0;top: 0;z-index:10;overflow: hidden;height:70px;width:70px; -webkit-appearance:none; }
.acc-upload-box ul.post_imglist{ float:left; padding-bottom:0; margin-right:10px;}
.post_imglist li img.wh60 {margin: 0 auto;display:block;width:60px;height:60px;}
.acc-upload-box .post_imglist li {position:relative;float:left;padding:5px; width:60px; height:60px; display:block; border-bottom:none; margin:0;}
.acc-upload-box .post_imglist li .del {position:absolute;right:-5px;top:-5px;width:20px;height:20px;display: inline-block; color:#ff5c67; font-size:20px;}
.dropdown-area{ width:100%; border:none; -webkit-appearance:none; display:block; height:80px; color:#666; font-size:1.4rem; line-height:22px;}

.xiaolianbox{ padding:10px 0px; background:#fff;}
.pingjiaxing{ display:block;width:100%; overflow:hidden; background:#fff;}
.pingjiaxing strong{float:left; width:20%; text-align:right; height:40px; line-height:40px; color:#666; font-weight:normal;}
.pingjiaxing ul{ float:left; width:60%; height:30px; display:block; padding:5px 0;}
.pingjiaxing ul li{float:left; width:35px; height:30px; background:url(../image/star_45.png) no-repeat center center; display:inline-block; background-size:26px;}
.pingjiaxing ul li.active{ width:35px; height:30px; background:url(../image/star_44.png) no-repeat center center; display:inline-block; background-size:26px;}
.pingjiaxing bdo{float:left; width:20%; line-height:40px; text-align:left; color:#ff5c67; font-size:13px;}

.pingjiaTag{ padding:10px; overflow:hidden; margin-top:10px;}
.pingjiaTag span{ padding:0 5px; border:1px solid #535353; height:20px; line-height:20px; font-size:12px; color:#535353; float:left; display:inline-block; margin-right:10px;}
.pingjiaTag span.addbtn{ border-color:#ff5c67; color:#ff5c67;}


.footerbar{width:100%; height:40px; background:rgba(243,243,243,1); border-top:1px solid #f3f3f3; position:fixed; bottom:0; left:0; right:0; display:block; padding:4px 0; z-index:9999;max-width:75rem; margin:0 auto;}
.footerbar ul li{float:left; width:33.33%; display:block; text-align:center;}
.footerbar ul li span{ display:block; font-weight:normal; display:block; font-size:1.5em; margin-top:2px;color: #535353;}
.footerbar ul li.cur span,.footerbar ul li.cur bdo{ color:#ff5c67;}
.footerbar ul li bdo{ font-size:12px; color: #535353;text-align:center; display:block;}


.acc-menu{display:block; margin-bottom:10px; overflow:hidden;}
.acc-menu ul li{ float:left; width:25%; display:block; padding:10px 0;}
.acc-menu ul li p{ line-height:22px; font-size:1.4rem; color:#535353; text-align:center;}
.acc-menu ul li span{ width:30px; height:26px; margin:0 auto; display:block; font-size:24px; text-align:center;color:#535353;}


.acc-title-h2{ background:#fff; height:40px; display:block; padding:0 5px;  line-height:40px;}
.acc-title-h2 span{ float:right; font-size:12px; color:#999;}
.acc-title-h2 strong{ font-size:1.4rem; color:#535353; font-weight:normal;}
.acc-title-h2 strong.qizhi{ background:url(../image/qizhi.png) no-repeat 0 center; padding-left:20px; background-size:16px;}
.acc-title-h2 strong.zuopin{ background:url(../image/zuopin.png) no-repeat 0 center; padding-left:20px; background-size:18px;}
.mei-index-bottom{ padding-bottom:50px;}
.mei-index-ad{ padding:0 5px 5px; overflow:hidden; background:#fff; margin-bottom:10px;position:relative; height:120px; overflow:hidden;}


.mei-index-ad .swiper-wrapper{ position:absolute; left:0; top:0;}
.mei-index-ad .swiper-slide {
	    float:left; width:50%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}
.mei-index-ad .swiper-slide span{ margin:5px; display:block;}
.mei-index-ad .swiper-slide img{ width:100%;display:block;}

.mei-index-items{ background:#fff; display:block; overflow:hidden; padding:0 10px;}
.mei-index-items ul li{
    overflow: hidden;
	border-bottom:1px solid #f3f3f3;
	list-style-type:none;
	position:relative;
	padding:10px 0;
}
.fl {
    float: left;
}

.mei-index-items ul li dt{ width:30%;display:block;}
.mei-index-items ul li dd{ width:70%; display:block;}
.mei-index-items ul li dt img{ width:90%; display:block;}


.mei-index-items ul li dd h3 {
    font-size: 1.6rem;
    line-height: 30px;
    color: #333;
    font-weight:normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-red{ color:#ff5c67; font-size-adjust:12px; padding-top:2px; margin-right:5px;}
p.advantage{ color:#bbb; font-size:12px;}
.advantage span {
    display: inline-block;
    background: #535353;
    font-size: .77em;
    vertical-align: 5px;
    color: #FFFFFF;
    height: 13px;
    line-height: 13px;
    padding: 0 1px;
    min-width: 45.5px;
    border-radius: 3px;
    text-align: center;
    margin-right: 10px;
}
.service-num{ float:right; color:#999; padding-top:5px;}
.duration{ line-height:20px; margin-bottom:10px; display:block;}

p.introduce span.new-price {
    font-size: 1.4em;
    color: #ff5c67;
}
p.introduce span.old-price {
    margin-left: 10px;
    color: #999;
    font-size: .92em;
    text-decoration: line-through;
}


.add-trolley {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 30px;
    height: 30px;
}

.add-trolley a {
    position: absolute;
    right: 0;
    font-size: 1.9em;
}
.theme-color {
    color: #ff5c67;
}




.book-box {
    z-index: 700;
    border-top: 1px solid #f3f3f3;
    position: fixed;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 49px;
    line-height: 49px;
    opacity: .94;
    -webkit-opacity: .94;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.hide{ display:none;}
.book-box{z-index:99999;border-top:1px solid #f3f3f3;position:fixed;left:0;bottom:-1px;display:block;width:100%;height:49px;line-height:49px;opacity:.94;-webkit-opacity:.94;}
.book-box .order{position:relative;z-index:200;}
.book-box .order li{background:#FFFFFF;color:#333;display:block;}
.book-box .order li:nth-of-type(1){-webkit-box-flex:1.5;-webkit-flex:1.5;-moz-box-flex:1.5;-moz-flex:1.5;-ms-flex:1.5;flex:1.5;padding-left:20px;font-size:1.15em;}
.book-box .order li:nth-of-type(1) > span.totals-num{color:#FFFFFF;background:#ff5c67;height:15px;width:15px;border-radius:7.5px;margin-left:-.6em;margin-top:.19em;font-weight:normal;line-height:15px;text-align:center;position:absolute;font-size:.77em;}
.book-box .order li:nth-of-type(1) > i.icon-trolley{font-size:1.54em;margin-right:0;vertical-align:0;color:#535353;font-style:normal;}
.book-box .order li:nth-of-type(1) span{margin-left:5px;font-weight:600;}
.book-box .order li:nth-of-type(1) span i{font-size:1.69em;font-style:normal;}
.book-box .order li:nth-of-type(2){-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1;font-size:.92em;line-height:.92em;padding-top:.92em;}
.book-box .order li:nth-of-type(2):before{content:"";border-left:1px solid #333;height:15px;top:16px;position:absolute;}
.book-box .order li:nth-of-type(2) span{display:block;margin-left:20px;margin-right:13px;}
.book-box .order li:nth-of-type(2) span:last-of-type{margin-top:5px;}
.book-box .order li:last-of-type{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1;width:9.6em;color:#FFFFFF;text-align:center;font-size:1.31em;opacity:.94;-webkit-opacity:.94;}
.book-box .order li:last-of-type a{display:block;width:100%;height:49px;line-height:49px;}
.book-box .order li a.btn-normal{background:#ff5c67;color:#FFFFFF;}
.book-box .order li a.btn-click{background:#ff3543;color:#FFFFFF;}
.book-box .order li a.btn-not{background:#f3f3f3;}

.book-box .book-items{color:#333;position:fixed;bottom:48px;left:0;width:100%;background:#FFFFFF;border-bottom:1px solid #f3f3f3;z-index:100;-webkit-animation-duration:0.3s !important;animation-duration:0.2s !important;-moz-animation-duration:0.3s !important;}
.book-box .book-items .items-title{height:43px;line-height:43px;border-bottom:1px solid #f3f3f3;}
.book-box .book-items .items-title span{display:inline-block;background:#535353;color:#FFFFFF;font-size:.92em;height:24px;line-height:24px;width:61px;border-radius:5px;-webkit-border-radius:5px;margin:0 10px;text-align:center;}
.book-box .book-items .items-title a{float:right;margin-right:10px;}
.book-box .book-items .items-title a i{margin-right:10px;font-size:1.46em;vertical-align:-3px;font-style:normal;}
.book-box .book-items li{margin:15px 10px;min-height:24px;position:relative;line-height:24px;}
.book-box .book-items li p:nth-of-type(1){width:50%;text-align:left;float:left;}
.book-box .book-items li p:nth-of-type(2){width:16%;text-align:right;float:left;}
.book-box .book-items li p:nth-of-type(3){width:34%;text-align:right;float:left;bottom:initial;right:0;}


.sumMoney{ font-style:normal;}

.maskbg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	width:100%;
	height:100%;
    background: rgba(0,0,0,0.3);
    z-index: 99990;
	display:none;
}

.deltip {
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    margin-bottom: 45px;
    padding-bottom: 27px;
}
#confirm {
    width: 255px;
    height: 225px;
    z-index: 99999;
    position: fixed;
    left: 50%;
    margin-left: -127.5px;
    top: 50%;
    margin-top: -112.5px;
    text-align: center;
	display:none;
}
.deltip .info {
    padding-top: 57px;
	font-size: .92em;
}

.add-btn-buy {
    position: fixed;
    right: 10px;
    bottom: 70px;
    width: 44px;
    padding: 8px 0;
    height: 28px;
    line-height: 14px;
    z-index: 500;
    background-color: #ff5c67;
    opacity: 0.68;
    -webkit-opacity: 0.68;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    font-size: 0.85em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    top: initial;
}
.add-btn-buy a{ color:#fff; text-align:center;}

.delmask{ position:absolute; right:5px; top:5px; width:20px; height:20px; display:block; color:#535353;}
.delmask i{ color:#535353; font-size:18px;}
a.alert-btn {
    display: inline-block;
    margin-top: 27px;
    height: 24px;
    line-height: 24px;
    width: 66px;
    background: #535353;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
}

.set-num a {
    font-size: 1.9em;
}
.set-num span {
    width: 34px;
    text-align: center;
    display: inline-block;
    color: #333;
    font-size: .92em;
    font-weight: 600;
    vertical-align: 6px;
}

@-webkit-keyframes slideInDown{
	0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible;}
	100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slideInDown{
	0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible;}
	100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.slideInDown{-webkit-animation-name:slideInDown;animation-name:slideInDown;}

@keyframes slideInUp{
	0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible;}
	100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}

@-webkit-keyframes slideInUp{
	0%{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible;}
	100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp;}

@-webkit-keyframes slideOutDown{
	0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
	100%{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
}

@keyframes slideOutDown{
	0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);
	}100%{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
}
.slideOutDown{-webkit-animation-name:slideOutDown;animation-name:slideOutDown;}

@-webkit-keyframes slideOutLeft{
	0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
	100%{visibility:hidden;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);}
}

@keyframes slideOutUp{
	0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
	100%{visibility:hidden;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);}
}
.slideOutUp{-webkit-animation-name:slideOutUp;animation-name:slideOutUp;}

@keyframes slideOutDown{
	0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
	100%{visibility:hidden;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}
	}
.slideOutDown{-webkit-animation-name:slideOutDown;animation-name:slideOutDown;}



.mei-detail-img{ width:100%; position:relative; display:block; background:#fff;}
.mei-detail-img img{ width:100%; display:block;}
.mei-detail-img p{ line-height:30px; padding:5px; font-size:12px; color:#999; border-bottom:1px solid #f3f3f3;}
.mei-detail-img p span{ margin-left:10px;}

.chanpin-info{ padding:10px; background:#fff; margin-bottom:10px;}
.chanpin-info p{ line-height:22px; color:#999; font-size:12px;}
.chanpin-info .advantage{ margin-bottom:10px;}
.chanpin-info .advantage span{ padding:4px 10px; display:inline-block; font-size:12px; border-radius:20px; background:#fff; border:1px solid #f3f3f3; color:#535353;}
.chanpin-info bdo.daodian{ background:#ff5c67; padding:2px 5px; border-radius:2px; color:#fff; display:inline-block; line-height:14px;margin-right:5px;}
.chanpin-info bdo.shangmen{ background:#f2c364; padding:2px 5px; border-radius:2px; color:#fff; display:inline-block; line-height:14px; margin-right:5px;}


.mei-detail-info{ padding:10px; background:#fff;}
.mei-detail-info img{ width:100%;}
.mei-detail-info p{ line-height:30px; font-size:1.4rem;}
.mei-detail-title{ border-bottom:1px solid #f3f3f3; overflow:hidden;background:#fff;}
.mei-detail-title ol{ float:left; width:50%; height:44px; display:block;}
.mei-detail-title ol span{ display:block; height:44px; line-height:44px; text-align:center; font-size:1.6rem;}
.mei-detail-title ol.curbtn{ border-bottom:2px solid #ff5c67; color:#ff5c67; line-height:42px; height:42px;}

.icon-i{ font-size:1.4em;color:#535353;vertical-align: -3px; margin-right:10px;font-weight:bold;}
.icon-i-right{ font-size:1.4em;color:#535353;vertical-align: -3px;}
.order-content{ padding:10px;}
.order-address{ display:block; line-height:44px; height:44px; font-size:1.4rem; padding:0 10px; margin-bottom:10px; background:#fff; border-radius:5px; border:1px solid #f3f3f3;}
.order-address strong{ color:#ff5c67;font-size:16px; font-weight:normal;}
.order-address strong span{ margin-right:10px;}
.order-address em{ float:right;}
.order-list-box{ display:block; overflow:hidden;}
.order-list-box ul li{ margin-bottom:10px; display:block; background:#fff;border-radius:5px; border:1px solid #f3f3f3;}
.order-list-box ul li p{ border-bottom:1px solid #f3f3f3; padding:15px 0 15px 10px; overflow:hidden; line-height:24px; color:#999; font-size:12px;position:relative;}
.order-list-box ul li p img{ float:left; margin-right:10px; width:60px; height:60px; border-radius:10px; margin-left:3px;}
.order-list-box ul li p span{ float:right; color:#999; font-size:12px; margin-right:5px;}
.order-list-box ul li p strong{ display:block; color:#535353; font-size:1.2em;}

.address-txt{ font-size:14px; color:#535353;}
.order-list-box .adminInfo{ position:absolute; right:10px; top:12px; display:inline-block;color:#ff5c67;line-height:30px;}
.order-list-box .adminInfo img{ float:inherit; width:30px; height:30px; border-radius:30px; float:right; margin-left:10px;}

.mei-time-rili{overflow:hidden; background:#fff; display:block;color:#394a9d; margin-bottom:10px;}
.mei-time-rili ul{ width:100%; display:block; overflow:hidden;}
.mei-time-rili ul li{ float:left; width:14.28%;  text-align:center; line-height:30px; font-size:12px; font-family:Arial, Helvetica, sans-serif; display:block;border:none; border-radius:0; margin:0;}
.mei-time-rili ul li.curDate{ color:#ff5c67;}
.mei-time-rili ul li span{ width:30px; height:30px; overflow:hidden; display:block;margin:0 auto;text-align:center;}
.mei-time-rili ul li span.qiandao{ background:#ff7200; color:#fff; border-radius:30px;}
.time-rili-bg{color:#666; height:40px; display:block; padding-top:10px;}
.time-rili-bg ul li{line-height:20px; font-size:12px; color:#666;}
.time-rili-bg ul li bdo{ display:block;}

.mei-box-time{ display:block; overflow:hidden;}
.mei-box-time span{ float:left; width:25%; display:block;}
.mei-box-time span em{ margin:5px;  height:29px; line-height:29px; color:#333; font-size:12px; font-style:normal; text-align:left; padding-left:20px; display:block; font-family:Arial, Helvetica, sans-serif;}
.mei-box-time span em.curhui{ color:#ccc;}

.order-user-info ul li p{padding:5px 10px; margin:0;position:relative;}

.order-user-yanzhengma{  position: absolute;
    right: 5px;
    top: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    min-width: 66px;
    height: 24px;
    line-height: 24px;
    background: #535353;
    color: #fff;
    font-size: .92em;
    padding: 2px 5px;
	z-index:999;
}
.inputTxt{ width:90%; height:42px; background:#fff; display:inline-block; border:none; margin:0; padding:0; font-size:1.2em;}

.section-box {
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
	margin-bottom:10px;
	border:1px solid #f3f3f3;
}
.remark-item{ padding-left:40px;}
.remark-item i {
    font-size: 1em;
    color: #999;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 34px;
	font-style:normal;
	width:40px;
	text-align:center;
}

.remark-item textarea {
    color: #333;
    font-size: 1em;
    display: block;
    width: 100%;
    border-style: none;
    padding: 0;
    min-height: 28px;
    line-height: 20px;
    overflow-y: visible;
	color:#535353;
	font-size:1em;
}

.order-info-remind {
    margin: 1.23em 0;
    font-size: 12px;
    color: #999;
}
.order-info-remind p{ line-height:20px;}
.pro-box-items{ background:#fff; border-radius:5px 5px 0 0;border: 1px solid #f3f3f3; border-bottom:none;}
.min-box-item,.order-list-flex {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f3f3f3;
	padding:0 10px;
	overflow:hidden;
}
.min-box-item span{ float:right;}
.total-money{ color:#ff5c67; font-weight:bold; font-size:1.2em;}
.min-box-top ul li{ border-top:none; border-radius:0 0 5px 5px;}

.order-list-flex ul li{
	float:left;
}
.order-list-flex ul li:nth-of-type(1) {
	width:55%;
	}
.order-list-flex ul li:nth-of-type(2) {
	width:15%;
	}
.order-list-flex ul li:nth-of-type(3) {
	width:10%;
	text-align:right;
	}
.order-list-flex ul li:nth-of-type(4) {
	width:20%;
	text-align:right;
    font-weight: 600;
    font-size: 1em;
    color: #333;
}


.motify{position:fixed;top:35%;left:50%;width:220px;padding:0.5em;margin:0 0 0 -110px;z-index:999999;font-size:12px;background:rgba(255,92,103,0.7);color:#fff;line-height:2em;border-radius:6px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2); text-align:center; display:none;}
.motify p{ line-height:2em; text-align:center; font-size:12px; color:#fff;}


.mei-index-Top{padding-top:84px;}
.order-tag-item{ width:100%; height:40px; background:#fff; display:block; margin-bottom:10px; position:fixed; top:45px; left:0; right:0; z-index:9999;}
.order-tag-item ol{ float:left; width:33.33%; height:40px;  text-align:center; font-size:12px;}
.order-tag-item ol span{ color:#999; line-height:40px;}
.order-tag-item ol span.curbtn{ color:#535353; border-bottom:2px solid #535353;line-height:38px; display:inline-block; padding:0 10px;}

.order-tag-tab{ border:1px solid #535353; height:30px; margin:4px 10px;border-radius:5px;}
.order-tag-tab bdo{ border-left:1px solid #535353; display:block; line-height:30px;}
.order-tag-tab bdo.oneli{ border-left:none;}
.order-tag-tab bdo.curtab{ background:#535353; color:#fff;}

.aipet-order-items{display:block; z-index:0;}
.aipet-order-items ul li{ margin-bottom:10px; background:#fff;border:1px solid #f3f3f3; border-radius:5px; position:relative;z-index:1;}
.aipet-order-items ul li h2{ line-height:40px; height:40px; border-bottom:1px solid #f3f3f3; padding-left:10px; color:#999; font-size:14px; font-weight:normal;}
.daodian-icon{padding:0 5px; background:#535353; color:#fff; font-size:12px;border-radius:5px; font-style:normal;}
.daodian-fr{ position:absolute; right:10px; top:40px; }
.aipet-order-ltems-title{ height:30px; padding:5px 10px; line-height:30px; font-family:Arial, Helvetica, sans-serif;}
.aipet-order-ltems-title span{ float:right; font-size:1em; color:#535353; font-weight:bold;}
.aipet-order-ltems-title strong{ font-size:12px; color:#bbb; line-height:30px; font-weight:normal;}
.order-detail-title{ border-bottom:1px solid #f3f3f3; margin-bottom:10px;}
.order-detail-title strong{ font-size:14px; color:#999;}

.aipet-order-ltems-con{ padding:5px 10px; overflow:hidden;}
.aipet-order-ltems-con .imgbox{ width:80px; height:80px; background:url(../images/shop.png) no-repeat center center #eee; background-size:40px; float:left; margin-right:10px; margin-top:5px;}
.aipet-order-ltems-con .imgbox img{width:100%; height:100%; }
.aipet-order-ltems-con p{font-size:1.4rem; color:#333; overflow:hidden;}
.aipet-order-ltems-con strong{ height:25px; display:block;}
.aipet-order-ltems-con span{ font-size:12px; color:#666; line-height:20px; display:block;font-family:Arial, Helvetica, sans-serif;}

.aipet-order-buybtn{  height:30px; padding:10px; text-align:left; overflow:hidden;}
.aipet-order-buybtn div{ float:right;display:block; margin-top:2px;}
.aipet-order-buybtn strong{ line-height:30px; color:#ff5c67; font-size:16px;}
.aipet-order-buybtn span{height:22px; padding:2px 10px; display:inline-block; border:1px solid #535353;border-radius:5px; line-height:22px; font-size:12px; text-align:center; color:#535353; background:none; margin-left:10px;}

.nameclass{ color:#535353; font-size:13px; font-style:normal;}
.red-color{ color:#ff5c67;}
.zhifubtn{height:22px; padding:2px 10px; display:inline-block;border-radius:5px; line-height:22px; font-size:12px; text-align:center; color:#fff; background:#535353;}
.aipet-order-buybtn span.quanma{background:none; color:#ff5c67; border-color:#ff5c67}
.aipet-order-buybtn span.fukuan{background:#535353; color:#fff; border-color:#535353}
.pro-info-txt span{ font-size:12px; line-height:25px; color:#666;}
.pro-info-txt strong{ line-height:35px; height:35px; display:block; font-size:16px;}

.pro-liucheng{ padding:10px; height:40px; display:block; padding-top:15px;}
.pro-liucheng ol{ float:left; width:25%; font-size:12px; text-align:center; color:#999;}
.pro-liucheng ol span{ height:1px; background:#d7d7d7; margin:10px 0; display:block; width:100%; position:relative;}
.pro-liucheng ol span::after {
    content: "";
    width: 10px;
    height: 10px;
    background:#d7d7d7;
	position:absolute;
	left:50%;
	margin-left:-5px;
	top:-4.5px;
	text-align:center;
	border-radius:10px;
}
.pro-liucheng ol.cur-status{ color:#535353;}
.pro-liucheng ol.cur-status span{ background:#535353;}
.pro-liucheng ol.cur-status span::after {background:#535353;}


.order-fuwu-con{ padding:10px;}
.order-fuwu-con p{ padding-left:70px; font-size:12px; color:#535353;line-height:22px;}
.order-fuwu-con span{ width:66px; display:inline-block; margin-left:-70px; line-height:22px; color:#999;}
.order-fuwu-con bdo{ float:right;}
.paybtnbg{ position:fixed; bottom:0; height:40px; padding:10px; left:0; right:0; background:#f3f3f3; z-index:999; display:block;}
.paybtn{ width:100%; height:40px; background:#ff5c67; color:#fff; line-height:40px; display:block;font-size: 1.3em; text-align:center;border-radius:5px; cursor:pointer;}

.quanbox{ display:block;}
.quanbox p{ border-bottom:1px solid #f3f3f3; line-height:16px; font-size:12px; color:#999; padding:5px 10px; overflow:hidden;}
.quanbox p strong{ display:block; line-height:25px; color:#535353; display:block;}
.quanbox p span{ float:right;}
.quanbox h4{ line-height:40px; padding:5px 10px; color:#666; font-size:14px; font-weight:normal;}
.quanbox h4 span{ font-size:24px; color:#ff7200; font-family:Arial, Helvetica, sans-serif;}
.icon-ma{ width:20px; height:20px; background:url(../image/erweima.png) no-repeat center center; background-size:20px; display:block; margin-top:10px;}

.maskcon{position:absolute; left:50%; top:40%; width:120px; height:120px; margin-top:-60px; margin-left:-70px; display:block; padding:10px; background:#fff;}
.maskcon img{ width:100%;}
.maskdel{ position:absolute; bottom:-40px; left:50%; width:20px; height:20px; margin-left:-10px; display:block;}
.maskdel i{ font-size:18px; color:#fff;}


.quan-fang-sou{ padding:0 0 10px; line-height:32px; height:32px; display:block;}
.quan-fang-sou p{ width:100%; display:block; overflow:hidden;}
.quan-fang-sou span{ float:left; width:78%;}
.quan-fang-sou bdo{ float:right; width:20%;}
.quan-fang-sou .text{background:#fff; height:32px;line-height:32px; border-radius:5px; display:block; -webkit-appearance:none; margin:0; padding:0; border:none; width:100%; text-indent:10px; font-size:12px; color:#333;}
.submitbtn{ border-radius:5px; background:#535353; font-size:12px; height:32px; display:block;width:100%; font-style:normal;  border:none;color:#fff; text-align:center;}

.order-quan-item{ display:block;}
.order-quan-item ul li{ margin-bottom:10px;  background:#fff; position:relative; overflow:hidden;}
.quan-item-img{ float:left; width:30%; height:100px; background:#ff5c67; text-align:center;}
.quan-item-img strong{ font-size:24px; font-family:Arial, Helvetica, sans-serif; line-height:30px; color:#fff; margin-top:25px; display:block;}
.quan-item-img p{ font-size:12px; text-align:center; color:#fff;}
.quan-item-info{ float:right; width:70%; height:100px;}
.quan-item-info p{ padding-left:10px; line-height:20px; font-size:12px; color:#787878;}
.quan-item-info p strong{ font-size:14px; line-height:40px; color:#ff5c67; margin-top:10px; display:block;}
.quan-item-jiao{ width:48px; height:26px; background:url(../image/xiejiao.png) no-repeat 0 0; background-size:50px 26px; text-align:right; position:absolute; right:0; top:0; font-size:0.8em; line-height:16px; padding-right:2px; color:#fff;}
.quan-item-jiantou{ display:inline-block; cursor:pointer;position:absolute; right:10px; top:65px;}
.downicon{width:20px; height:20px; background:url(../image/jiantou.png) no-repeat 0 0; background-size:20px; }
.upicon{width:20px; height:20px; background:url(../image/jiantou2.png) no-repeat 0 0; background-size:20px; }
.quan-info-txt{ padding:10px; clear:both; border-top:1px solid #f3f3f3; display:none;}
.quan-info-txt p{ font-size:12px; color:#9b9b9b; line-height:20px;}


.admin-items{ padding:15px 10px; display:block; border-bottom:1px solid #f3f3f3; overflow:hidden; background:#fff; margin-bottom:10px;}
.admin-items p{ line-height:25px; font-size:14px; color:#666;}
.admin-items p img{ float:left; width:60px; height:60px; margin-right:10px; border-radius:60px;}
.admin-items p em{ float:right; margin-top:20px; font-size:16px;}
.admin-items p strong{ font-size:14px; color:#535353; display:block; padding-top:5px; font-family:Arial, Helvetica, sans-serif;}
.admin-items p span{ display:block; font-family:Arial, Helvetica, sans-serif; color:#999;}
.admin-items .addressInfo{ font-size:12px; color:#999;}
.admin-tab{ background:#fff; margin-bottom:10px; padding:10px; overflow:hidden;}
.admin-tab ol{ float:left; width:33.33%; text-align:center; position:relative; display:block;}
.admin-tab ol:nth-of-type(2):before,.admin-tab ol:nth-of-type(3):before{content:"";border-left:1px solid #ccc;height:40px;position:absolute; left:0; top:15px;}

.admin-tab ol span{ font-size:24px; padding:5px 0;}
.admin-tab ol p{ line-height:16px; text-align:center; color:#999; font-size:12px;}
.admin-tab ol p strong{ font-size:14px; line-height:22px; color:#535353; font-weight:normal;}

.jishi_introduce span{ display:inline-block; font-size:12px; line-height:22px; color:#535353;} 
.jishi_introduce span i{ margin-right:2px;}
.jishi_introduce span.service-num{ padding:0;}

.aipet-order-ltems-con span.jishi_info{ height:40px; overflow:hidden; color:#999; margin-bottom:2px;}

.jishi-checked{ position:absolute; right:5px; top:5px; width:20px; height:20px; z-index:99; font-size:16px;}

.pay-order-info{background:#fff; border-radius:5px; margin-bottom:10px;border:1px solid #f3f3f3; }
.pay-order-info p{ line-height:40px; height:40px; display:block;border-bottom:1px solid #f3f3f3; padding:5px 5px 5px 85px; font-size:14px;}
.pay-order-info p strong{ width:80px; display:inline-block; margin-left:-70px;font-weight:normal;}
.pay-order-info p bdo{ color:#ff5c67; font-size:18px;}
.pay-order-info h2{ line-height:40px; height:40px; border-bottom:1px solid #f3f3f3; padding-left:10px; color:#999; font-size:14px; font-weight:normal;}

.book-box .payend li:nth-of-type(2){ padding:0; border:none;font-size:1.15em; line-height:50px;}
.book-box .payend li:nth-of-type(2):before{content:"";border-left:none;}


.pay-order-paylei p{ padding-left:115px;font-size:14px; color:#999;}
.pay-order-paylei p span{ float:right; font-size:20px; color:#535353; margin-top:2px;}
.pay-order-paylei p strong{ width:115px; display:inline-block; margin-left:-105px; color:#535353; font-weight:normal;}
.pay-order-paylei p i{ margin-right:5px;}
.pay-order-info p bdo.chongzhi{background:#ff5c67; padding:2px 10px; border-radius:2px; color:#fff; display:inline-block; line-height:14px; line-height:18px; font-size:12px; margin-left:10px;}
.pay-order-paylei p i.weixin{ width:20px; height:20px; background:url(../image/weixin.png) no-repeat center center; display:inline-block; margin-top:10px; float:left; background-size:20px;}
.pay-order-paylei p i.zhifu{ width:20px; height:20px; background:url(../image/zhifubao.png) no-repeat center center; display:inline-block; margin-top:10px; float:left; background-size:20px;}
.pay-order-paylei p i.kaka{ width:20px; height:20px; background:url(../image/kaka.png) no-repeat center center; display:inline-block; margin-top:10px; float:left; background-size:20px;}