@charset "utf-8";
*{margin:0; padding:0;}
html{ font-size:62.5%;}
body{font-family:"Microsoft YaHei"; margin:0; padding:0;width:100%;height:100%; background:#fff; overflow-x:hidden;-webkit-user-select:none;-webkit-text-size-adjust:none;}
ul,li,h1,h2,h3,h4,h5,p,input,dl,dt,dd,table,th,td,ol,form,bdo,em,i{margin:0;padding:0;list-style:none;}
a:link,a:visited{ text-decoration:none; color:#333;webkit-touch-callout: none;} a:hover{ text-decoration:none;webkit-touch-callout: none;}

.aipet-dongtai{ display:block;}
.aipet-dongtai ul li{ border-bottom:10px solid #eee; background:#fff; padding:10px;}
.aipet-dongtai-person{ display:block; overflow:hidden; border-bottom:1px solid #eee; padding-bottom:10px;}
.aipet-dongtai-person p{ line-height:20px; color:#999; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.aipet-dongtai-person p img{ float:left; width:40px; height:40px; border-radius:40px; margin-right:10px;}
.aipet-dongtai-person p strong{ font-size:14px; color:#333; display:block;font-weight:normal;}
.aipet-dongtai-person p span{ float:right; font-size:12px; color:#999; }

.aipet-dongtai-news{ padding:5px 0; display:block;}
.aipet-dongtai-news strong{ font-size:16px; color:#333; display:block; padding-bottom:10px; line-height:25px;font-weight:normal;}
.aipet-dongtai-news p{ line-height:22px; font-size:12px; color:#666;}

.aipet-dongtai-imgbox{ overflow:hidden; display:block; margin:10px 0 0;}
.aipet-dongtai-imgbox ol{float:left; width:25%; display:block;}
.aipet-dongtai-imgbox ol span{ margin:1px;display:block; position:relative; padding-bottom:100%;background:url(../image/logo1.png) no-repeat center center #f7f7f7; background-size:40%;}
.aipet-dongtai-imgbox ol span img{ width:100%; display:block; position:absolute; left:0; top:0;}
.aipet-dongtai-zanshu span{ float:left; margin:2px; width:30px; height:30px;}
.aipet-dongtai-zanshu span img{width:30px; height:30px;border-radius:30px;}

.aipet-dongtai-chou{ padding:10px; display:block; background:#fff7f1;}
.aipet-dongtai-chou p{ line-height:30px; color:#ff7200; overflow:hidden; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.aipet-dongtai-chou p img{ float:left; width:60px; height:60px;  margin-right:10px;}
.aipet-dongtai-chou p strong{ font-size:14px; color:#ff7200; display:block;font-weight:normal; height:30px; line-height:30px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; }
.aipet-dongtai-chou p span{font-size:12px; color:#999; margin-right:10px; height:30px; line-height:30px; display:inline-block;}

.aipet-send-box{ position:fixed; width:100%; background:#f2f2f2; left:0; right:0; bottom:0; height:44px; z-index:99999;}
.aipet-send-btn{ width:100%; height:44px; background:#ff7200; display:block; font-size:1.8rem; line-height:44px; text-align:center; color:#fff;}

.aipet-subject ul li{ border-bottom:0; background:#f2f2f2;z-index:1;}
.aipet-subject-banner{ background:#fff; overflow:hidden;}
.aipet-subject-banner img{ width:100%; display:block;}
.aipet-subject-chou{ background:#fff; height:60px; position:relative;box-shadow:0 3px 5px #ddd; z-index:1;}
.aipet-subject-chou p span{ font-size:14px; font-family:Arial, Helvetica, sans-serif}
.aipet-subject-chou span.icon01{ background:url(../image/jin.png) no-repeat 0 center; background-size:16px; padding-left:18px;}
.aipet-subject-chou span.icon02{ background:url(../image/ren.png) no-repeat 0 center; background-size:16px; padding-left:18px;}
.aipet-subject-status{ position:absolute; bottom:12px; right:0; height:22px; z-index:9;font-size:12px; text-align:center;}
.aipet-subject-mid{ background:#ff7200; color:#fff;border-radius:10px 0 0 10px; padding-left:5px;width:50px;display:block; }
.aipet-subject-end{ background:#ddd; color:#999;border-radius:10px 0 0 10px; padding-left:5px;width:50px;display:block; }

.aipet-admin-bg{ background:#f2f2f2;}
.aipet-admin-index{ height:120px; padding-top:20px; overflow:hidden; background:#ff7200; padding-bottom:15px;}
.aipet-admin-index .touimg{width:80px; height:80px; margin:0 auto 10px; display:block;border-radius:60px; background:#fff;}
.aipet-admin-index .touimg img{ width:100%; border-radius:60px;}
.aipet-admin-index p{display:block; line-height:30px; text-align:center; color:#fff; font-size:18px;}

.aipet-admin-nav{ width:100%; overflow:hidden; display:block; background:#fff;border-bottom:9px solid #eee;}
.aipet-admin-nav ol{ float:left; width:50%; display:block; margin:10px 0;}
.aipet-admin-nav ol div{ border-right:1px dashed #ddd;}
.aipet-admin-nav ol p{ line-height:30px; text-align:center; display:block; font-size:12px; color:#666;}
.aipet-admin-nav ol strong{ font-size:30px; text-align:center;color:#ff7200; display:block; font-weight:normal; padding:10px 0 5px; font-family:Arial, Helvetica, sans-serif;  display:block;}
.aipet-admin-four{ background:#eee;}
.aipet-admin-four ol{ float:left; width:25%; display:block; margin:0;}
.aipet-admin-four ol strong{ font-size:24px; text-align:center;color:#666; }

.aipet-admin-quyu h2{ font-size:16px; color:#999; line-height:35px; background:#fff; padding-top:10px; height:35px; display:block; border-bottom:1px solid #eee;font-weight:normal; padding-left:10px;}
.aipet-admin-quyu h2 span{ font-size:12px; color:#999; float:right; padding-right:10px;}
.aipet-admin-quyu ul{ width:100%; overflow:hidden; background:#fff;}
.aipet-admin-quyu ul li{ float:left; width:25%; display:block;}
.aipet-admin-quyu ul li div{ border:1px solid #eee; display:block; margin-left:-1px; margin-top:-1px; height:80px;}
.aipet-admin-quyu ul li span{ width:60px; height:50px; margin:0 auto; display:block;}
.aipet-admin-quyu ul li p{ line-height:20px; font-size:12px; color:#666; text-align:center;}
.aipet-admin-quyu ul li span.icon01{ background:url(../image/guanli.png) no-repeat center 70%; background-size:50%;}
.aipet-admin-quyu ul li span.icon02{ background:url(../image/yigong.png) no-repeat center 70%; background-size:54%;}
.aipet-admin-quyu ul li span.icon03{ background:url(../image/yuee.png) no-repeat center 70%; background-size:52%;}
.aipet-admin-quyu ul li span.icon04{ background:url(../image/dongtai.png) no-repeat center 70%; background-size:40%;}
.aipet-admin-quyu ul li span.icon05{ background:url(../image/shop.png) no-repeat center 70%; background-size:50%;}
.aipet-admin-quyu ul li span.icon06{ background:url(../image/chou.png) no-repeat center 70%; background-size:45%;}
.aipet-admin-quyu ul li span.icon07{ background:url(../image/xiaodian.png) no-repeat center 70%; background-size:40%;}
.aipet-admin-quyu ul li span.icon08{ background:url(../image/caigou.png) no-repeat center 70%; background-size:50%;}


.acc-login-input{ background:#fff; display:block; padding-bottom:50px;}
.acc-login-input ul{ padding-bottom:20px; display:block;}
.acc-login-input ul li p{ border-bottom:1px solid #eee; padding:10px; line-height:30px; display:block; overflow:hidden;}

.dropdown-area{ width:100%; border:none; -webkit-appearance:none; display:block; height:80px; color:#666; font-size:1.6rem; line-height:22px;}
.acc-login-input ul li p strong{ float:left; width:24%; line-height:30px; height:30px; font-size:1.4rem; font-weight:normal; color:#888;}
.acc-login-input ul li p span{float:right; width:76%; height:30px;font-family:Arial, Helvetica, sans-serif;}
.acc-login-input ul li p bdo{ display:block; float:left; margin-right:10px; font-size:1.4rem; color:#333; line-height:22px; padding:4px 0;}
.acc-login-input ul li p em{ width:22px; height:22px; border:1px solid #ddd; border-radius:2px; display:inline-block; float:left; margin-right:12px;}
@media screen and (max-width: 321px) { 
.acc-login-input ul li p em{ width:22px; height:22px; border:1px solid #ddd; border-radius:2px; display:inline-block; float:left; margin-right:3px;}
}
.acc-login-input ul li p em.curxuan{ background:url(../image/gouxuan.png) no-repeat center center #fff; border-color:#1dae65; background-size:16px; display:inline-block;}

.txt{ border:none;-webkit-appearance:none; height:30px; width:100%; display:block; font-size:1.6rem; color:#333;}

.submitBtn{ width:100%; height:44px; background:#ff7200; line-height:44px; text-align:center; display:block; font-size:1.6rem; color:#fff; position:fixed; left:0; bottom:0; right:0;}

.acc-upload-box{ padding:10px; display:block; border-bottom:10px solid #eee;}
.upload_btn {background:url(../image/jia.png) center 0 no-repeat; background-size:70px; position:relative;width:70px;height:70px; display:block; float:left;}
.upload_btn input { opacity:0;position: absolute;left: 0;top: 0;z-index:10;overflow: hidden;height:70px;width:70px; -webkit-appearance:none; }
.acc-upload-box ul.post_imglist{ float:left; padding-bottom:0; margin-right:10px;}
.post_imglist li img.wh60 {margin: 0 auto;display:block;width:60px;height:60px;}
.acc-upload-box .post_imglist li {position:relative;float:left;padding:5px; width:60px; height:60px; display:block; border-bottom:none; margin:0;}
.acc-upload-box .post_imglist li .del {position:absolute;right:-5px;top:-10px;background:url(../image/shanchu2.png) no-repeat 0 0;background-size:20px;width:20px;height:20px;display: inline-block; }

.paylist{overflow:hidden; display:block;max-width:75rem; margin:0 auto;}
.paylist ol{ line-height:44px; border-bottom:1px solid #eee; display:block; padding:0px 10px; font-size:1.5rem; color:#333; height:44px; overflow:hidden;}
.paylist ol p{ background:url(../image/jiantouR.png) no-repeat 99% center; background-size:10px 17px; display:block; padding-left:5px; color:#333;}
.paylist ol p span{float:right; font-size:1.2rem; color:#999; font-family:Arial, Helvetica, sans-serif; padding-right:25px;}
.paylist ol p span.imgbox{ width:60px; height:40px; overflow:hidden;position:relative;}
.paylist ol p span.imgbox em{ position:absolute;right:0; top:0; width:40px; height:40px; display:block; z-index:1;}
.paylist ol p span.imgbox em img{ width:40px; height:40px; border-radius:40px; display:block; overflow:hidden;}
.paylist ol p span.imgbox bdo{ position:absolute; top:-10px; right:0; width:60px; height:60px; display:block; z-index:99; opacity:0;}


.aipet-bbs-banner{ width:100%; display:block; position:relative; padding-top:0; z-index:0; background:#eee;}
.aipet-bbs-banner img{ width:100%; display:block;}
.aipet-zhuyang{position:absolute; left:0; top:20%; width:100%; display:block; z-index:9;}
.aipet-zhuyang .touimg{width:80px; height:80px; display:block;border-radius:80px; background:#fff; margin:0 auto 2%;}
.aipet-zhuyang .touimg img{ width:100%; border-radius:60px;}
.aipet-zhuyang p{display:block; line-height:20px; text-align:center; color:#fff; font-size:16px; padding-top:10px; display:block;}

.aipet-zhuyang-info{ padding:5px; background:#fff; border-bottom:1px dashed #eee;}
.aipet-zhuyang-info p{ text-align:center; line-height:30px; font-size:14px; color:#999; font-family:Arial, Helvetica, sans-serif;}
.aipet-zhuyang-info ul{ width:100%; overflow:hidden;}
.aipet-zhuyang-info ul li{ float:left; text-align:center; display:block; padding:10px 0;}
.aipet-zhuyang-info ul li.width25{ width:30%;}
.aipet-zhuyang-info ul li.width50{ width:40%;}
.aipet-zhuyang-info ul li bdo{ padding:4px 10px; background:#f66; color:#fff; display:inline-block; border-radius:2px; font-size:14px;}
.aipet-zhuyang-info ul li strong{ font-size:18px; color:#666; font-family:Arial, Helvetica, sans-serif; line-height:25px;}

.aipet-zhuyang-info ul li strong.men{ background:url(../image/nan.png) no-repeat right center; background-size:18px 20px; display:inline-block; padding-right:22px;}
.aipet-zhuyang-info ul li strong.women{ background:url(../image/nv.png) no-repeat right center; background-size:12px 20px; display:inline-block; padding-right:22px;}
.sendBtn{ width:100%; height:44px; background:#ff7200; line-height:44px; text-align:center; display:block; font-size:1.6rem; color:#fff; border-radius:5px;}
.sendbox{ padding:10px;}
.qiubox{ padding:0px 20px; border-bottom:10px solid #eee; display:block;}
.qiubox strong{ font-size:14px; color:#666; font-weight:normal; line-height:25px; padding:10px; display:block; height:70px; overflow:hidden;}
.qiubox p{ line-height:22px; font-size:14px; color:#333; padding:10px 10px 10px 40px;display:block; overflow:hidden; font-family:Arial, Helvetica, sans-serif;} 
.qiubox .pet01{ width:40px; height:30px; background:url(../image/108.png) no-repeat 0 center; background-size:30px; display:block; float:left; margin-left:-40px;}
.qiubox .pet02{ width:40px; height:30px; background:url(../image/104.png) no-repeat 0 center; background-size:30px; display:block; float:left;margin-left:-40px;}
.qiubox .pet03{ width:40px; height:30px; background:url(../image/101.png) no-repeat 0 center; background-size:30px; display:block; float:left;margin-left:-40px;}

.aipet-dongtai h2{ font-size:16px; color:#666; line-height:40px; height:40px; font-weight:normal; display:block; border-bottom:1px solid #eee; margin-bottom:10px; padding-left:10px;}
.gukepingjia{ display:block; background:#fff; padding-bottom:44px;}
.gukepingjia ul li{ border-bottom:1px solid #eee; margin-bottom:10px;}
.gukepingjia ul li p.info{ line-height:20px; font-size:12px; color:#999; display:block; padding-top:10px; clear:both; font-family:Arial, Helvetica, sans-serif;}
.gukepingjia .wuxing{ background:url(../image/wujiaoxing.png) no-repeat 0 0; width:18px; height:18px; background-size:16px; display:inline-block;}

.gukepingjia .aipet-dongtai-person{ border-bottom:none;}
.juanbtn{ position:fixed; width:100%; background:#fff; border-top:1px solid #eee; font-size:18px; color:#fff; bottom:0; left:0; right:0;height:44px; z-index:9999; padding:5px 0; display:block; line-height:44px; text-align:center;max-width:75rem; margin:0 auto;}
.juanbtn span{ float:left; width:25%; height:44px; display:block; color:#fff;}
.juanbtn bdo{ float:left; width:50%; background:#fff; height:44px; display:block;}
.juanbtn em{ font-family:Arial, Helvetica, sans-serif; color:#ff7200; font-style:normal;}
.paybtn{ background:#ff7200; border-radius:30px; height:34px; margin:5px; display:inline-block; color:#fff; text-align:center; font-size:1.6rem; display:block; line-height:34px;}
.shoucang{ font-weight:normal; font-size:12px; text-align:center; padding-top:9px; font-family:Arial, Helvetica, sans-serif; background:url(../image/xing.png) no-repeat center 5px; background-size:15px; display:block;}
.sharetu{ font-weight:normal; font-size:12px; text-align:center; padding-top:9px; font-family:Arial, Helvetica, sans-serif; background:url(../image/share.png) no-repeat center 5px; background-size:16px 17px; display:block;}

.dingwei-list{ position:fixed; left:0; right:0; width:100%; top:0; z-index:9999; display:block; height:85px;}
.acc-list-sou{ height:44px; background:#eee; display:block; padding:3px 0;}
.acc-list-sou span{ float:left; width:20%; height:44px;}
.acc-list-sou .text{ border:1px solid #ddd; border-radius:5px; height:30px; background:url(../image/soso.png) no-repeat 5px center #fff; background-size:20px; -webkit-appearance:none; width:100%; margin:6px 0; text-indent:30px; line-height:30px;}
.acc-list-sou .soubtn{border-radius:5px; width:80%; background:#ff4c4a; height:32px; margin:6px auto; color:#fff; display:block; font-size:14px; text-align:center; line-height:32px;}
.aipet-sub-nav{ overflow:hidden; display:block; margin-bottom:10px; background:#fff;}
.aipet-sub-nav ol{ float:left; width:33.33%; display:block; text-align:center; height:35px;}
.aipet-sub-nav ol span{color:#666; font-size:1.4rem; display:block; line-height:30px; height:30px;padding:2px 0; text-align:center;border-bottom:1px solid #eee; }
.aipet-sub-nav ol.cur span{ color:#ff7200; border-bottom:1px solid #ff7200; display:block;}

.aipet-list-items{ display:block; padding-top:85px;}
.aipet-list-items ul li{ border-bottom:1px solid #eee; padding:5px; overflow:hidden;}
.aipet-list-items .numbox{ float:left; width:10%;}
.aipet-list-items .numbox strong{ text-align:center; font-family:Arial, Helvetica, sans-serif; display:block; padding-right:5px; font-weight:normal; line-height:60px; font-size:24px; color:#666;}
.aipet-list-items .numbox strong.red{ color:#ff4c4a;}
.aipet-list-items .imgbox{float:left; width:20%; display:block;}
.aipet-list-items .imgbox img{ width:50px; height:50px; border-radius:50px; margin:5px auto; background:#f7f7f7;}
.aipet-list-items .nameBox{float:right; width:70%; height:auto; height:45px; padding-top:5px; background:url(../image/jiantouRight.png) no-repeat right center; background-size:10px 17px;}
.aipet-list-items .nameBox p{ line-height:25px; display:block; font-size:12px; color:#333; text-align:left;}
.aipet-list-items .nameBox p strong{ font-weight:normal; font-family:Arial, Helvetica, sans-serif;font-size:1.6rem; display:block;}
.aipet-list-items .nameBox p strong.men{ background:url(../image/nan.png) no-repeat right center; background-size:18px 20px; display:inline-block; padding-right:22px;}
.aipet-list-items .nameBox p strong.women{ background:url(../image/nv.png) no-repeat right center; background-size:12px 20px; display:inline-block; padding-right:22px;}
.aipet-list-items .nameBox p span{ font-size:12px; color:#fff; font-family:Arial, Helvetica, sans-serif; margin-right:5px; line-height:16px;}
.aipet-list-items .nameBox p bdo{ float:right; color:#999; line-height:20px;font-family:Arial, Helvetica, sans-serif;}
.petname{color:#463b7f; background:#ff9901; border-radius:15px; padding:2px 10px; display:inline-block; color:#fff; } 
.petyimiao{color:#463b7f; background:#70b5fb; border-radius:15px; padding:2px 10px; display:inline-block; color:#fff;} 
.petjueyu{color:#463b7f; background:#b57ac2; border-radius:15px; padding:2px 10px; display:inline-block; color:#fff; } 
