body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{
    margin:0;
    padding:0
}
body{
    font:12px/1.5 "Microsoft YaHei";
    word-wrap:break-word;
    word-break:break-all
}
table{
    border-collapse:collapse;
    border-spacing:0
}
em,th,var,i{
    font-style:normal;
    font-weight:normal
}
ol,ul{
    list-style:none
}
caption,th{
    text-align:left
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal
}
fieldset,img{
    border:0
}
button,input,select,textarea{
    font-size:100%
}
img{
    vertical-align:middle
}
.clearfix:after{
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
    font-size:0;
    line-height:0
}
.clearfix{
    *zoom:1
}
.clear{
    clear:both;
    overflow:hidden;
    font-size:0;
    height:0;
    line-height:0
}
html{
    _overflow-y:scroll
}
body{
    background-color:#fff
}
a{
    text-decoration:none
}
.left{
    float:left;
    display:inline
}
.right{
    float:right;
    display:inline
}
.clearfix:before{
    content:"";
    display:table
}
.clearfix:after{
    content:"";
    display:table;
    clear:both
}
html,body,p,dl,dt,dd,table,td,th,input,img,form,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,select,input{
    margin:0;
    padding:0;
    font-weight:normal
}
html{
    margin:0 auto !important;
    min-width:320px;
    max-width:720px;
    -webkit-text-size-adjust:none;
    -webkit-user-select:none
}
body{
    position:relative;
    background-color:#f9f9f9;
    color:#333333;
    font-size:1.037037037rem
}
img,iframe{
    border:none
}
ul,li,ol{
    list-style:none
}
img{
    vertical-align:top;
    max-width:100%
}
table{
    border-collapse:collapse;
    border-spacing:0
}
input,button{
    outline:0;
    border-radius:0;
    background:transparent
}
em,b,i,strong,cite,sub,sup,font{
    font-weight:normal;
    font-style:normal;
    font-size:100%
}
a{
    color:#333333;
    text-decoration:none;
    outline:none
}
.clear{
    clear:both
}
a,li,input,button,section,span,div{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
    -o-tap-highlight-color:rgba(0,0,0,0);
    -ms-tap-highlight-color:rgba(0,0,0,0);
    tap-highlight-color:rgba(0,0,0,0)
}
::-webkit-input-placeholder{
    color:#999999
}
::-moz-placeholder{
    color:#999999
}
:-moz-placeholder{
    color:#999999
}
@media only screen and (min-width: 320px) and (max-width: 359px){
    html{
        font-size:12px;
        font-family:sans-serif
    }
}
@media only screen and (min-width: 360px) and (max-width: 374px){
    html{
        font-size:13px;
        font-family:sans-serif
    }
}
@media only screen and (min-width: 375px) and (max-width: 400px){
    html{
        font-size:14px;
        font-family:sans-serif
    }
}
@media only screen and (min-width: 400px) and (max-width: 479px){
    html{
        font-size:15px;
        font-family:sans-serif
    }
}
@media only screen and (min-width: 480px) and (max-width: 720px){
    html{
        font-size:18px;
        font-family:sans-serif
    }
}
@media only screen and (min-width: 720px){
    html{
        font-size:27px;
        font-family:sans-serif
    }
}
.clearfix:before{
    content:"";
    display:table
}
.clearfix:after{
    content:"";
    display:table;
    clear:both
}
a,li,input,button,section,span,div{
    -webkit-tap-highlight-color:transparent;
    -moz-tap-highlight-color:transparent;
    -o-tap-highlight-color:transparent;
    -ms-tap-highlight-color:transparent;
    tap-highlight-color:transparent
}
a:focus{
    -webkit-user-modify:inherit
}
button:hover{
    outline:none;
    cursor:pointer
}
*{
    box-sizing:border-box
}
body{
    font-family:Microsoft YaHei, Arial,STZhongsong, Tahoma, Helvetica;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
    background:#fff;
    overflow-x:hidden
}
html{
    overflow-x:hidden
}
.page_building{
    margin:0 auto;
    max-width:720px;
    height:100%;
    min-height:100vh;
    box-sizing:border-box;
    background-image:url(../images/bg_02.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    position:relative
}
.page_building .building_box{
    position:absolute;
    padding-top:1.8518518519rem;
    box-sizing:border-box;
    width:100%;
    height:100%
}
.page_building .building_box .building_img{
    position:relative;
    width:100%;
    height:100%
}
.page_building .building_box .box_b,.page_building .building_box .box_y{
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    bottom:0;
    overflow:hidden;
    background-image:url(../images/building-b.png);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:auto calc(100vh - 1.8518518519rem)
}
.page_building .building_box .box_y{
    background-image:url(../images/building-y.png);
    height:0%;
    transition:all 1.6s ease-out
}
.page_building .buliding_cnt{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    padding-top:1.8518518519rem
}
.page_building .buliding_cnt .phb{
    position:absolute;
    left:2.2222222222rem
}
.page_building .buliding_cnt .phb .logo{
    max-width:5.4814814815rem
}
.page_building .buliding_cnt .phb .phb_btn{
    display:table;
    margin:.3703703704rem auto;
    max-width:2.0740740741rem
}
.page_building .buliding_cnt .youhui,.page_building .buliding_cnt .pingan{
    position:absolute;
    left:2.2222222222rem;
    bottom:5.9259259259rem
}
.page_building .buliding_cnt .youhui img,.page_building .buliding_cnt .pingan img{
    max-width:4.4444444444rem
}
.page_building .buliding_cnt .pingan{
    left:initial;
    right:2.2222222222rem
}
.page_building .buliding_cnt .number_box{
    display:none;
    position:absolute;
    right:2.8148148148rem;
    top:11.1111111111rem
}
.page_building .buliding_cnt .number_box p{
    color:white;
    font-size:1.3333333333rem;
    color:#f6c479;
    text-align:center
}
.page_building .buliding_cnt .number_box p em{
    display:table;
    margin:0 auto;
    font-size:1.7037037037rem;
    font-style:italic;
    font-weight:bold
}
.page_building .buliding_cnt .time_box{
    display:none;
    position:absolute;
    padding-top:.7407407407rem;
    right:.7407407407rem
}
.page_building .buliding_cnt .time_box .time{
    display:inline-block;
    width:6.6666666667rem;
    height:1.2962962963rem;
    border:1px solid #bc955a;
    position:relative
}
.page_building .buliding_cnt .time_box .time .line{
    position:absolute;
    width:100%;
    height:100%;
    background-image:url(../images/timeline_03.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:auto 100%
}
.page_building .buliding_cnt .time_box img{
    max-width:6.2962962963rem
}
.page_building .buliding_cnt .time_box span{
    display:inline-block;
    width:2.8148148148rem;
    text-align:right;
    font-size:1.2592592593rem;
    vertical-align:2px;
    color:#bc955a
}
.page_building .layout{
    display:none;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.page_building .layout .yaoyiyao{
    display:none;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.page_building .layout .yaoyiyao .box{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    transform:translate(-50%, -50%);
    text-align:center
}
.page_building .layout .yaoyiyao .box img{
    max-width:9.0740740741rem
}
.page_building .layout .yaoyiyao .box h2{
    font-size:2.037037037rem;
    color:#f6c479;
    padding:2.962962963rem 0 1.1111111111rem
}
.page_building .layout .yaoyiyao .box p{
    font-size:1.7037037037rem;
    color:#f6c479;
    font-weight:500
}
.page_building .layout .result_box{
    display:none;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.page_building .layout .result_box .box{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    transform:translate(-50%, -65%);
    text-align:center
}
.page_building .layout .result_box .box h2{
    font-size:2.1481481481rem;
    color:#f6c479;
    padding:1.1111111111rem 0 0
}
.page_building .layout .result_box .box .number{
    display:table;
    margin:2.5925925926rem auto;
    font-size:4.8148148148rem;
    color:#f6c479;
    font-weight:bold
}
.page_building .layout .result_box .box .history{
    font-weight:bold;
    font-size:2.0740740741rem
}
.page_building .layout .result_box .box p{
    margin-top:1.8518518519rem;
    font-size:1.7407407407rem;
    color:#f6c479;
    font-weight:500
}
.page_building .layout .result_box .box img{
    max-width:14.8148148148rem;
    margin-bottom:.7407407407rem
}
.page_building .layout .share_box{
    display:none;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.page_building .layout .share_box .box_s{
    position:absolute;
    width:100%;
    height:100%
}
.page_building .layout .share_box .icon{
    position:absolute;
    top:3.3333333333rem;
    right:2.5925925926rem;
    animation:share .8s ease-out infinite alternate
}
.page_building .layout .share_box .icon img{
    max-width:3.7037037037rem
}
.page_building .layout .share_box .text{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    transform:translate(-50%, -65%);
    text-align:center;
    border:.5px solid #f6c479;
    border-radius:8px;
    background-color:rgba(0,0,0,0.6);
    width:17.7777777778rem;
    line-height:1.6;
    font-size:1.8888888889rem;
    color:#f6c479;
    padding:1.8518518519rem 0 1.8518518519rem;
    text-align:center
}
.page_building .layout .share_box .text em{
    font-weight:bold
}
.page_building .layout .paihb_box{
    display:none;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.page_building .layout .paihb_box .box{
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    padding-top:1.4814814815rem;
    padding-left:.7407407407rem;
    padding-right:.3703703704rem
}
.page_building .layout .paihb_box .box .list_box{
    max-height:78%;
    overflow:auto
}
    .page_building .layout .paihb_box .box dt {
        width: 20%;
        float: left;
        padding: 1.1111111111rem 0;
        text-align: center;
        color: #f6c479;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
.page_building .layout .paihb_box .box dt em.id{
    font-size:1.2592592593rem;
    line-height:2.0740740741rem;
    color:#f6c479;
    display:inline-block;
    width:2.2222222222rem;
    height:2.2222222222rem;
    border:.6px solid #f6c479;
    border-radius:50%
}
.page_building .layout .paihb_box .box dt em.name{
    font-size:1.5555555556rem;
    line-height:1.8518518519rem;
    color:#f6c479;
    display:inline-block
}
.page_building .layout .paihb_box .box dt em.number{
    font-size:1.6296296296rem;
    line-height:1.8518518519rem;
    font-weight:bold;
    color:#f6c479;
    display:inline-block
}
.page_building .layout .paihb_box .box dt img{
    max-width:2.962962963rem;
    vertical-align:2px
}
.page_building .layout .paihb_box .box dt:last-child{
    width:40%
}
.page_building .layout .paihb_box .box dt:nth-child(2){
    padding:.5185185185rem 0
}
.page_building .layout .paihb_box .box .title{
    width:100%
}
.page_building .layout .paihb_box .box .title dt:nth-child(2){
    padding:1.1111111111rem 0
}
.page_building .layout .paihb_box .box .title dt{
    font-size:1.6296296296rem;
    color:#f6c479
}
.page_building .layout .paihb_box .box .back{
    position:absolute;
    bottom:2.2222222222rem;
    left:50%;
    transform:translateX(-50%)
}
.page_building .layout .paihb_box .box .back img{
    max-width:8.8888888889rem
}
.page_building .success{
    display:none;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%
}
    .page_building .success .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border: .5px solid #f6c479;
        border-radius: 8px;
        /*background-color:rgba(0,0,0,0.6);*/
        background-color: rgba(0,0,0,0.83);
        width: 19.2592592593rem
    }
.page_building .success .box h2{
    font-size:1.7407407407rem;
    color:#f6c479;
    padding:3.7037037037rem 0 2.962962963rem;
    text-align:center
}
.page_building .success .box img{
    max-width:11.1111111111rem;
    margin-bottom:2.962962963rem
}
.page_share{
    background-image:url(../images/share-bg.jpg)
}
.page_share .sharepage_icon{
    position:absolute;
    top:3em;
    right:3em;
    animation:shares .8s ease-out infinite alternate;
    -webkit-animation:shares .8s ease-out infinite alternate
}
.page_share .sharepage_icon img{
    max-width:3.7037037037rem
}
.page_share .text{
    padding-top:8.8888888889rem;
    text-align:center
}
.page_share .text img{
    max-width:19.0740740741rem
}
@keyframes share{
    from{
        top:3.3333333333rem;
        right:2.5925925926rem
    }
    to{
        top:1.8518518519rem;
        right:1.1111111111rem
    }
}
@-webkit-keyframes share{
    from{
        top:3.3333333333rem;
        right:2.5925925926rem
    }
    to{
        top:1.8518518519rem;
        right:1.1111111111rem
    }
}
@keyframes shares{
    from{
        top:3em;
        right:3em
    }
    to{
        top:1.5em;
        right:1.5em
    }
}
@-webkit-keyframes shares{
    from{
        top:3em;
        right:3em
    }
    to{
        top:1.5em;
        right:1.5em
    }
}
.breathpic{
    animation:breathpic .8s ease-out infinite alternate;
    -webkit-animation:breathpic .8s ease-out infinite alternate
}
.breathzi{
    animation:breathzi .8s ease-out infinite alternate;
    -webkit-animation:breathzi .8s ease-out infinite alternate
}
.hand_move{
    animation:hand_move .8s ease-out infinite alternate;
    -webkit-animation:hand_move .8s ease-out infinite alternate
}

/*图片呼吸动画*/
@keyframes  breathpic{
    from{
        transform: scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
    }
    to{
        transform: scale(1.2);
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -o-transform:scale(1.2);
    }
}
@-webkit-keyframes breathpic {
    from{
        transform: scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
    }
    to{
        transform: scale(1.2);
        -webkit-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
        -o-transform:scale(1.2);
    }
}
/*文字尺寸的呼吸*/
@keyframes  breathzi{
    from{
         transform: scale(1);
         -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
    }
    to{
        transform: scale(1.4);
        -webkit-transform:scale(1.4);
        -moz-transform:scale(1.4);
        -ms-transform:scale(1.4);
        -o-transform:scale(1.4);

    }
}
@-webkit-keyframes breathzi {
    from{
        transform: scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
    }
    to{
        transform: scale(1.4);
        -webkit-transform:scale(1.4);
        -moz-transform:scale(1.4);
        -ms-transform:scale(1.4);
        -o-transform:scale(1.4);
    }
}
/*摇一摇图片移动*/
@keyframes hand_move{
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
    50% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg); }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
}
@-webkit-keyframes hand_move {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
    50% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg); }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
}

.pdName {
    width: 22.22222rem;
    height: auto;
    background: rgba(16,16,16,0.83);
    border: 1px solid #9f7f4e;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    color: #fff;
    margin: 0 auto;
    padding: 0.37037rem;
    border-radius: 0.55556rem;
    margin-left: -11.11111rem;
    font-size: 1.25926rem;
    display: none
}